@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: url("images/food.jpg");
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-right {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 23px;
  border: 3px solid black;
}
.icon-right img {
  text-align: center;
  width: 107px;
}
.slogan {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-size: 28px;
  font-weight: bold;
}
.container {
  border: 2px solid black;
  display: inline-block;
}

.menu {
  border: 2px solid purple;
  display: inline-block;
  position: absolute;
  width: 123px;
  margin: 255px 612px;
  padding: 13px;
  text-align: center;
}
